# Compiled files
*.exe
*.out
*.o
*.obj
*.ilk
*.pdb
*.dll
*.so
*.a

# Build directories
build/
cmake-build-*/

# IDE and editor files
.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/build-active.ps1
!.vscode/launch.json
.idea/
*.user

# Operating system files
.DS_Store
Thumbs.db
